01_intro/kafka-4-cluster-multinode/kafka*/
01_intro/kafka-4-cluster-intro/kafka-data/
02_kafka_notification_project/kafka/kafka-storage
02_kafka_notification_project/kafka/storage*
02_kafka_notification_project/kafka/kafka*/*
03_kafka_go_mongodb/kafka/storage*/*
04_kafka_sample_project/deploy/kafka*/*
05_kafka_chat_sample_project/backend/deploy/kafka*/*
05_kafka_chat_sample_project/hoboslack/node_modules
05_kafka_chat_sample_project/hoboslack/*.env
05_kafka_chat_sample_project/hoboslack/.content-collections